* {
  font-family: 'Montserrat', sans-serif; }

@media (max-width: 992px) {
  h3 {
    font-size: 22px; } }

h4 {
  color: gray; }
  h4 span {
    color: #fff; }
  @media (max-width: 992px) {
    h4 {
      font-size: 20px;
      text-align: left; }
      h4 span {
        font-size: 18px; } }

.findLocation {
  margin: 60px 0;
  cursor: pointer; }
  .findLocation h3 {
    font-size: 18px;
    color: grey; }
  @media (max-width: 992px) {
    .findLocation .yourLocation {
      font-size: 14px; } }
  .findLocation img {
    width: 42px;
    margin: 0 0 15px; }

.noGps img {
  margin: 0 0 10px;
  width: 32px; }
