* {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    @media (max-width: 992px) {
        font-size: 22px;
    }
}

h4 {
    color: gray;
    span {
        color: #fff;
    }
    @media (max-width: 992px) {
        font-size: 20px;
        text-align: left;
        span {
            font-size: 18px;
        }
    }
}

.findLocation {
    margin: 60px 0;
    cursor: pointer;
    h3 {
        font-size: 18px;
        color: grey;
    }
    .yourLocation {
        @media (max-width: 992px) {
            font-size: 14px;
        }
    }
    img {
        width: 42px;
        margin: 0 0 15px;
    }
}

.noGps {
    img {
        margin: 0 0 10px;
        width: 32px;
    }
}