form {
    margin: 20px 0 40px;
    input {
        background: transparent;
        padding: 5px 10px;
        border: 1px solid #fff;
        outline: none;
        color: white;
        display: inline-block;
    }
    button {
        background: transparent;
        border: unset;
        outline: none !important;
        display: inline-block;
        cursor: pointer;
        margin: 0 0 0 10px;
        img {
            width: 24px;
        }
    }
}