footer img {
  margin: 0 4px;
  width: 24px;
  animation: heartAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes heartAnimation {
  from {
    transform: scale(0.9); }
  to {
    transform: scale(1.1); } }
