.citiesList {
  margin: -10px 0 40px; }
  .citiesList ul {
    text-align: left;
    padding: 0;
    list-style: none; }
    .citiesList ul li {
      margin: 10px 0;
      padding: 5px 10px;
      border-bottom: 1px solid grey;
      cursor: pointer;
      transition: .4s;
      color: grey; }
      .citiesList ul li:hover {
        color: #fff;
        transform: scale(1.03); }
