.forecastParent {
    margin: 50px 0;
    .icon {
        font-size: 12px;
    }
    p {
        margin: 0;
        font-size: 18px;
    }
    h4 {
        text-align: center
    }
    .day {
        color: #fff;
        margin: 0 0 15px;
    }
    .high {
        font-size: 20px;
        color: #D75A4A;
    }
    .separator {
        font-size: 14px;
    }
    .min {
        font-size: 14px;
        color: #0cf;
    }
    .condition {
        font-size: 14px;
    }
}