.forecastParent {
  margin: 50px 0; }
  .forecastParent .icon {
    font-size: 12px; }
  .forecastParent p {
    margin: 0;
    font-size: 18px; }
  .forecastParent h4 {
    text-align: center; }
  .forecastParent .day {
    color: #fff;
    margin: 0 0 15px; }
  .forecastParent .high {
    font-size: 20px;
    color: #D75A4A; }
  .forecastParent .separator {
    font-size: 14px; }
  .forecastParent .min {
    font-size: 14px;
    color: #0cf; }
  .forecastParent .condition {
    font-size: 14px; }
